.div_carro {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 30px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}

.div_carro>p {
    color: black;
    font-family: 'Inter';
}